@model IEnumerable<ca.abcmufflerandhitch.Models.Products.Exhaust>

@{
    ViewData["Title"] = "Exhaust";
}
<div class="row">
    <div class="col">
        <h1>Exhaust Inspections & Repairs</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Mufflers</h1>
        

        <ul class="nav nav-pills mb-3" id="mufflers" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-magnaflow-tab" href="#pills-magnaflow" data-toggle="pill" role="tab">Magnaflow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-flowmaster-tab" href="#pills-flowmaster" data-toggle="pill" role="tab">Flowmaster</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-magnaflow" role="tabpanel" aria-labelledby="pills-magnaflow-tab">

                <div class="row card-deck text-white">
                @foreach (var item in ViewBag.Magnaflow)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 card px-0 bg-dark">
                        <img src="~/img/products/@(item.ProductID).png" class="card-img-top bg-white" />
                        <div class="card-body bg-dark">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-subtitle">@item.Brand.BrandName</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark">Diameter: @item.DiameterInches in.</li>
                            <li class="list-group-item bg-dark">Fit: @item.VehicleModel</li>
                            <li class="list-group-item bg-dark">
                            @if(item.InStock == true)
                            {
                                @:In-stock <i class="fas fa-check-circle text-success"></i>
                            }
                            else
                            {
                                @:Call for availability <i class="fas fa-exclamation-circle text-warning"></i>
                            }

                            </li>
                        </ul>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block openQuote">Quote</button>
                        </div>
                    </div>
                }
                </div>

            </div>

            <div class="tab-pane fade" id="pills-flowmaster" role="tabpanel" aria-labelledby="pills-flowmaster-tab">

                <div class="row card-deck text-white">
                @foreach (var item in ViewBag.Flowmaster)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 card px-0 bg-dark">
                        <img src="~/img/products/@(item.ProductID).png" class="card-img-top bg-white" />
                        <div class="card-body bg-dark">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-subtitle">@item.Brand.BrandName</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark">Diameter: @item.DiameterInches in.</li>
                            <li class="list-group-item bg-dark">Fit: @item.VehicleModel</li>
                            <li class="list-group-item bg-dark">
                            @if(item.InStock == true)
                            {
                                @:In-stock <i class="fas fa-check-circle text-success"></i>
                            }
                            else
                            {
                                @:Call for availability <i class="fas fa-exclamation-circle text-warning"></i>
                            }

                            </li>
                        </ul>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block openQuote">Quote</button>
                        </div>
                    </div>
                }
                </div>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="mb-3">Catalytic Converters</h1>

        <div class="row card-deck text-white">
            @foreach (var item in ViewBag.CatalyticConverter)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 card px-0 bg-dark">
                    <img src="~/img/products/@(item.ProductID).png" class="card-img-top bg-white" />
                    <div class="card-body bg-dark">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-subtitle">@item.Brand.BrandName</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">Diameter: @item.DiameterInches in.</li>
                        <li class="list-group-item bg-dark">Fit: @item.VehicleModel</li>
                        <li class="list-group-item bg-dark">
                            @if (item.InStock == true)
                            {
                                @:In-stock <i class="fas fa-check-circle text-success"></i>
                            }
                            else
                            {
                                @:Call for availability <i class="fas fa-exclamation-circle text-warning"></i>
                            }

                        </li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block openQuote">Quote</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="mb-3">Exhaust Kits</h1>

        <div class="row card-deck text-white">
            @foreach (var item in ViewBag.ExhaustKit)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 card px-0 bg-dark">
                    <img src="~/img/products/@(item.ProductID).png" class="card-img-top bg-white" />
                    <div class="card-body bg-dark">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-subtitle">@item.Brand.BrandName</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">Diameter: @item.DiameterInches in.</li>
                        <li class="list-group-item bg-dark">Fit: @item.VehicleModel</li>
                        <li class="list-group-item bg-dark">
                            @if (item.InStock == true)
                            {
                                @:In-stock <i class="fas fa-check-circle text-success"></i>
                            }
                            else
                            {
                                @:Call for availability <i class="fas fa-exclamation-circle text-warning"></i>
                            }

                        </li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block openQuote">Quote</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <h1>DPF Delete Kits</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="bg-dark">
            <h1></h1>
        </div>
    </div>
</div>

@*<div class="row justify-content-center align-content-between">
    <div class="col d-flex flex-column justify-content-between">

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DiameterInches)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DegreeBend)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Material)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleModel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiameterInches)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreeBend)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Material)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand.BrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>*@
